<section id="contact" class="py-24 text-center">
  <h2 class="text-3xl font-bold text-white mb-4">Contato</h2>
  
  <p class="text-neutral mb-6">
    Entre em contato comigo por email ou redes sociais.
  </p>

  <a
    href="mailto:seuemail@email.com"
    class="inline-block bg-primary px-6 py-3 rounded-full text-white"
  >
    Enviar Email
  </a>
</section>
